/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.UserResponse
import io.healthplatform.pulsequery.api.models.UserRoleUpdate
import io.healthplatform.pulsequery.api.models.UserStatusUpdate

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminUsersApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List Users
     * Lists hospital platform users with optional role filtering and email search.  Args:     db (AsyncSession): PostgreSQL async database session.     current_user (User): Requesting administrator user.     limit (int): Pagination batch size limit (1 - 200). Defaults to 50.     offset (int): Pagination record offset. Defaults to 0.     role (str | None): Optional clinical role filter. Defaults to None.     search (str | None): Optional email search substring. Defaults to None.  Returns:     list[User]: Filtered list of registered user profiles.
     * @param limit  (optional, default to 50)
     * @param offset  (optional, default to 0)
     * @param role  (optional)
     * @param search  (optional)
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @param acceptLanguage  (optional)
     * @return kotlin.collections.List<UserResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listUsersApiV1AdminUsersGet(limit: kotlin.Int? = 50, offset: kotlin.Int? = 0, role: kotlin.String? = null, search: kotlin.String? = null, token: kotlin.String? = null, acceptLanguage: kotlin.String? = null): HttpResponse<kotlin.collections.List<UserResponse>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        role?.apply { localVariableQuery["role"] = listOf("$role") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/users/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListUsersApiV1AdminUsersGetResponse>().map { value }
    }

    @Serializable(ListUsersApiV1AdminUsersGetResponse.Companion::class)
    private class ListUsersApiV1AdminUsersGetResponse(val value: List<UserResponse>) {
        companion object : KSerializer<ListUsersApiV1AdminUsersGetResponse> {
            private val serializer: KSerializer<List<UserResponse>> = serializer<List<UserResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListUsersApiV1AdminUsersGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListUsersApiV1AdminUsersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List Users
     * Lists hospital platform users with optional role filtering and email search.  Args:     db (AsyncSession): PostgreSQL async database session.     current_user (User): Requesting administrator user.     limit (int): Pagination batch size limit (1 - 200). Defaults to 50.     offset (int): Pagination record offset. Defaults to 0.     role (str | None): Optional clinical role filter. Defaults to None.     search (str | None): Optional email search substring. Defaults to None.  Returns:     list[User]: Filtered list of registered user profiles.
     * @param limit  (optional, default to 50)
     * @param offset  (optional, default to 0)
     * @param role  (optional)
     * @param search  (optional)
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @param acceptLanguage  (optional)
     * @return kotlin.collections.List<UserResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listUsersApiV1AdminUsersGet_0(limit: kotlin.Int? = 50, offset: kotlin.Int? = 0, role: kotlin.String? = null, search: kotlin.String? = null, token: kotlin.String? = null, acceptLanguage: kotlin.String? = null): HttpResponse<kotlin.collections.List<UserResponse>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        role?.apply { localVariableQuery["role"] = listOf("$role") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListUsersApiV1AdminUsersGet0Response>().map { value }
    }

    @Serializable(ListUsersApiV1AdminUsersGet0Response.Companion::class)
    private class ListUsersApiV1AdminUsersGet0Response(val value: List<UserResponse>) {
        companion object : KSerializer<ListUsersApiV1AdminUsersGet0Response> {
            private val serializer: KSerializer<List<UserResponse>> = serializer<List<UserResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListUsersApiV1AdminUsersGet0Response) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListUsersApiV1AdminUsersGet0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * Update User Role
     * Updates the clinical or administrative role assignment for a target user.  Args:     user_id (UUID): Target user identifier.     payload (UserRoleUpdate): Desired new clinical role string.     db (AsyncSession): PostgreSQL async database session.     current_user (User): Requesting administrator user.  Returns:     User: The updated user profile entity.  Raises:     HTTPException: 400 if the role is invalid, 404 if the user is not found.
     * @param userId 
     * @param userRoleUpdate 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @param acceptLanguage  (optional)
     * @return UserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateUserRoleApiV1AdminUsersUserIdRolePut(userId: kotlin.String, userRoleUpdate: UserRoleUpdate, token: kotlin.String? = null, acceptLanguage: kotlin.String? = null): HttpResponse<UserResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = userRoleUpdate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/users/{user_id}/role".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update User Status
     * Activates or suspends a hospital user platform account.  Prevents administrators from suspending their own active account.  Args:     user_id (UUID): Target user identifier.     payload (UserStatusUpdate): New active flag state.     db (AsyncSession): PostgreSQL async database session.     current_user (User): Requesting administrator user.  Returns:     User: The updated user profile entity.  Raises:     HTTPException: 400 if administrator attempts self-suspension, 404 if not found.
     * @param userId 
     * @param userStatusUpdate 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @param acceptLanguage  (optional)
     * @return UserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateUserStatusApiV1AdminUsersUserIdStatusPut(userId: kotlin.String, userStatusUpdate: UserStatusUpdate, token: kotlin.String? = null, acceptLanguage: kotlin.String? = null): HttpResponse<UserResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = userStatusUpdate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/users/{user_id}/status".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
