/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.ExperimentResponse
import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.ModelInfo
import io.healthplatform.pulsequery.api.models.SQLExecutionRequest
import io.healthplatform.pulsequery.api.models.SQLExecutionResponse
import io.healthplatform.pulsequery.api.models.SQLGenerationRequest

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AiApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Execute Sql Preview
     * Executes SQL (read-only) and returns a small preview result. Intended for Arena candidate comparison in the UI.
     * @param sqLExecutionRequest 
     * @return SQLExecutionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun executeSqlPreviewApiV1AiExecutePost(sqLExecutionRequest: SQLExecutionRequest): HttpResponse<SQLExecutionResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = sqLExecutionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.POST,
            "/api/v1/ai/execute",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Generate Sql Comparison
     * Generates SQL usage the Multi-LLM Arena.  This endpoint: 1. Broadcasts the prompt to all configured LLMs. 2. Persists the results as an Experiment. 3. Returns a list of candidates so the frontend can display a comparison view.  Args:     request (SQLGenerationRequest): The prompt payload.     current_user (User): Authenticated user.     db (AsyncSession): Database session for logging.  Returns:     ExperimentResponse: Object containing experiment ID and list of candidate SQLs.
     * @param sqLGenerationRequest 
     * @return ExperimentResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun generateSqlComparisonApiV1AiGeneratePost(sqLGenerationRequest: SQLGenerationRequest): HttpResponse<ExperimentResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = sqLGenerationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.POST,
            "/api/v1/ai/generate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List Available Models
     * Returns the list of currently configured LLMs available for the Arena.
     * @param showAll  (optional, default to false)
     * @return kotlin.collections.List<ModelInfo>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAvailableModelsApiV1AiModelsGet(showAll: kotlin.Boolean? = false): HttpResponse<kotlin.collections.List<ModelInfo>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        showAll?.apply { localVariableQuery["show_all"] = listOf("$showAll") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.GET,
            "/api/v1/ai/models",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListAvailableModelsApiV1AiModelsGetResponse>().map { value }
    }

    @Serializable(ListAvailableModelsApiV1AiModelsGetResponse.Companion::class)
    private class ListAvailableModelsApiV1AiModelsGetResponse(val value: List<ModelInfo>) {
        companion object : KSerializer<ListAvailableModelsApiV1AiModelsGetResponse> {
            private val serializer: KSerializer<List<ModelInfo>> = serializer<List<ModelInfo>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListAvailableModelsApiV1AiModelsGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListAvailableModelsApiV1AiModelsGetResponse(serializer.deserialize(decoder))
        }
    }

}
