/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.AlertRuleCreate
import io.healthplatform.pulsequery.api.models.AlertRuleResponse
import io.healthplatform.pulsequery.api.models.AlertRuleUpdate
import io.healthplatform.pulsequery.api.models.HTTPValidationError

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AlertRulesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create Alert Rule
     * Creates a new clinical alert rule with configured unit and occupancy threshold.  Args:     request (AlertRuleCreate): Creation payload with category, threshold, and severity.     current_user (User): Authenticated user.     db (AsyncSession): PostgreSQL async database session.  Returns:     AlertRule: The newly created and persisted alert rule.
     * @param alertRuleCreate 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return AlertRuleResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createAlertRuleApiV1AnalyticsAlertRulesPost(alertRuleCreate: AlertRuleCreate, token: kotlin.String? = null): HttpResponse<AlertRuleResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = alertRuleCreate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/analytics/alert-rules/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create Alert Rule
     * Creates a new clinical alert rule with configured unit and occupancy threshold.  Args:     request (AlertRuleCreate): Creation payload with category, threshold, and severity.     current_user (User): Authenticated user.     db (AsyncSession): PostgreSQL async database session.  Returns:     AlertRule: The newly created and persisted alert rule.
     * @param alertRuleCreate 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return AlertRuleResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createAlertRuleApiV1AnalyticsAlertRulesPost_0(alertRuleCreate: AlertRuleCreate, token: kotlin.String? = null): HttpResponse<AlertRuleResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = alertRuleCreate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/analytics/alert-rules",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete Alert Rule
     * Deletes an existing clinical alert rule by UUID.  Args:     rule_id (UUID): Unique alert rule identifier to remove.     current_user (User): Authenticated user.     db (AsyncSession): PostgreSQL async database session.  Raises:     HTTPException: 404 if the rule does not exist.
     * @param ruleId 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return void
     */
    open suspend fun deleteAlertRuleApiV1AnalyticsAlertRulesRuleIdDelete(ruleId: kotlin.String, token: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/analytics/alert-rules/{rule_id}".replace("{" + "rule_id" + "}", "$ruleId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Alert Rule
     * Retrieves a single clinical alert rule by its UUID.  Args:     rule_id (UUID): Unique alert rule identifier.     current_user (User): Authenticated user.     db (AsyncSession): PostgreSQL async database session.  Returns:     AlertRule: The requested alert rule entity.  Raises:     HTTPException: 404 if the rule does not exist.
     * @param ruleId 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return AlertRuleResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAlertRuleApiV1AnalyticsAlertRulesRuleIdGet(ruleId: kotlin.String, token: kotlin.String? = null): HttpResponse<AlertRuleResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/analytics/alert-rules/{rule_id}".replace("{" + "rule_id" + "}", "$ruleId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Alert Rules
     * Lists all configured hospital capacity alert rules.  Args:     current_user (User): Authenticated requesting user.     db (AsyncSession): PostgreSQL async database session.  Returns:     list[AlertRule]: List of active and inactive alert rules.
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return kotlin.collections.List<AlertRuleResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAlertRulesApiV1AnalyticsAlertRulesGet(token: kotlin.String? = null): HttpResponse<kotlin.collections.List<AlertRuleResponse>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/analytics/alert-rules/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListAlertRulesApiV1AnalyticsAlertRulesGetResponse>().map { value }
    }

    @Serializable(ListAlertRulesApiV1AnalyticsAlertRulesGetResponse.Companion::class)
    private class ListAlertRulesApiV1AnalyticsAlertRulesGetResponse(val value: List<AlertRuleResponse>) {
        companion object : KSerializer<ListAlertRulesApiV1AnalyticsAlertRulesGetResponse> {
            private val serializer: KSerializer<List<AlertRuleResponse>> = serializer<List<AlertRuleResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListAlertRulesApiV1AnalyticsAlertRulesGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListAlertRulesApiV1AnalyticsAlertRulesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List Alert Rules
     * Lists all configured hospital capacity alert rules.  Args:     current_user (User): Authenticated requesting user.     db (AsyncSession): PostgreSQL async database session.  Returns:     list[AlertRule]: List of active and inactive alert rules.
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return kotlin.collections.List<AlertRuleResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAlertRulesApiV1AnalyticsAlertRulesGet_0(token: kotlin.String? = null): HttpResponse<kotlin.collections.List<AlertRuleResponse>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/analytics/alert-rules",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListAlertRulesApiV1AnalyticsAlertRulesGet0Response>().map { value }
    }

    @Serializable(ListAlertRulesApiV1AnalyticsAlertRulesGet0Response.Companion::class)
    private class ListAlertRulesApiV1AnalyticsAlertRulesGet0Response(val value: List<AlertRuleResponse>) {
        companion object : KSerializer<ListAlertRulesApiV1AnalyticsAlertRulesGet0Response> {
            private val serializer: KSerializer<List<AlertRuleResponse>> = serializer<List<AlertRuleResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListAlertRulesApiV1AnalyticsAlertRulesGet0Response) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListAlertRulesApiV1AnalyticsAlertRulesGet0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * Update Alert Rule
     * Updates an existing clinical alert rule with partial attribute modifications.  Args:     rule_id (UUID): Unique alert rule identifier.     request (AlertRuleUpdate): Attributes to update.     current_user (User): Authenticated user.     db (AsyncSession): PostgreSQL async database session.  Returns:     AlertRule: The updated alert rule entity.  Raises:     HTTPException: 404 if the rule does not exist.
     * @param ruleId 
     * @param alertRuleUpdate 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return AlertRuleResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateAlertRuleApiV1AnalyticsAlertRulesRuleIdPut(ruleId: kotlin.String, alertRuleUpdate: AlertRuleUpdate, token: kotlin.String? = null): HttpResponse<AlertRuleResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = alertRuleUpdate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/analytics/alert-rules/{rule_id}".replace("{" + "rule_id" + "}", "$ruleId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
