/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.LlmOutputAnalyticsRow

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AnalyticsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List Llm Outputs
     * Returns a flattened view of chat arena candidates, including: - user query (nearest prior user message) - LLM candidate output and SQL snippet - user selection (is_selected)
     * @param limit  (optional, default to 500)
     * @param offset  (optional, default to 0)
     * @return kotlin.collections.List<LlmOutputAnalyticsRow>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listLlmOutputsApiV1AnalyticsLlmGet(limit: kotlin.Int? = 500, offset: kotlin.Int? = 0): HttpResponse<kotlin.collections.List<LlmOutputAnalyticsRow>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.GET,
            "/api/v1/analytics/llm",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListLlmOutputsApiV1AnalyticsLlmGetResponse>().map { value }
    }

    @Serializable(ListLlmOutputsApiV1AnalyticsLlmGetResponse.Companion::class)
    private class ListLlmOutputsApiV1AnalyticsLlmGetResponse(val value: List<LlmOutputAnalyticsRow>) {
        companion object : KSerializer<ListLlmOutputsApiV1AnalyticsLlmGetResponse> {
            private val serializer: KSerializer<List<LlmOutputAnalyticsRow>> = serializer<List<LlmOutputAnalyticsRow>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListLlmOutputsApiV1AnalyticsLlmGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListLlmOutputsApiV1AnalyticsLlmGetResponse(serializer.deserialize(decoder))
        }
    }

}
