/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.Token
import io.healthplatform.pulsequery.api.models.UserCreate
import io.healthplatform.pulsequery.api.models.UserResponse

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AuthApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Login Access Token
     * OAuth2 compatible token login, get an access token for future requests.  Args:     form_data (OAuth2PasswordRequestForm): Login credentials (username&#x3D;email).     db (AsyncSession): Database session.  Returns:     Token: Access token and type.
     * @param username 
     * @param password 
     * @param grantType  (optional)
     * @param scope  (optional, default to "")
     * @param clientId  (optional)
     * @param clientSecret  (optional)
     * @return Token
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun loginAccessTokenApiV1AuthLoginPost(username: kotlin.String, password: kotlin.String, grantType: kotlin.String? = null, scope: kotlin.String? = "", clientId: kotlin.String? = null, clientSecret: kotlin.String? = null): HttpResponse<Token> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            ParametersBuilder().also {
                grantType?.apply { it.append("grant_type", grantType.toString()) }
                username?.apply { it.append("username", username.toString()) }
                password?.apply { it.append("password", password.toString()) }
                scope?.apply { it.append("scope", scope.toString()) }
                clientId?.apply { it.append("client_id", clientId.toString()) }
                clientSecret?.apply { it.append("client_secret", clientSecret.toString()) }
            }.build()

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.POST,
            "/api/v1/auth/login",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return urlEncodedFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Read Users Me
     * Fetch the current logged in user profile.
     * @return UserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun readUsersMeApiV1AuthMeGet(): HttpResponse<UserResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.GET,
            "/api/v1/auth/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Register User
     * Register a new user in the system.  Steps: 1. Verify email uniqueness. 2. Create User record. 3. Flush session (to generate User ID). 4. Call Provisioning Service to create default dashboard/widgets. 5. Commit transaction.  Args:     user_in (UserCreate): The payload containing email and password.     db (AsyncSession): Database session.  Returns:     User: The newly created user object.  Raises:     HTTPException: If email already exists.
     * @param userCreate 
     * @return UserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun registerUserApiV1AuthRegisterPost(userCreate: UserCreate): HttpResponse<UserResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = userCreate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.POST,
            "/api/v1/auth/register",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
