/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis


import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BenchmarksApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Mpax Benchmarks
     * Returns the generated MPAX what-if scenarios.
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMpaxBenchmarksApiV1BenchmarksMpaxGet(): HttpResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/benchmarks/mpax",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetMpaxBenchmarksApiV1BenchmarksMpaxGetResponse>().map { value }
    }

    @Serializable(GetMpaxBenchmarksApiV1BenchmarksMpaxGetResponse.Companion::class)
    private class GetMpaxBenchmarksApiV1BenchmarksMpaxGetResponse(val value: List<kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>>) {
        companion object : KSerializer<GetMpaxBenchmarksApiV1BenchmarksMpaxGetResponse> {
            private val serializer: KSerializer<List<kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>>> = serializer<List<kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetMpaxBenchmarksApiV1BenchmarksMpaxGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetMpaxBenchmarksApiV1BenchmarksMpaxGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Sql Benchmarks
     * Returns the gold standard text-to-SQL benchmarks.
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSqlBenchmarksApiV1BenchmarksSqlGet(): HttpResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/benchmarks/sql",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetSqlBenchmarksApiV1BenchmarksSqlGetResponse>().map { value }
    }

    @Serializable(GetSqlBenchmarksApiV1BenchmarksSqlGetResponse.Companion::class)
    private class GetSqlBenchmarksApiV1BenchmarksSqlGetResponse(val value: List<kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>>) {
        companion object : KSerializer<GetSqlBenchmarksApiV1BenchmarksSqlGetResponse> {
            private val serializer: KSerializer<List<kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>>> = serializer<List<kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetSqlBenchmarksApiV1BenchmarksSqlGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetSqlBenchmarksApiV1BenchmarksSqlGetResponse(serializer.deserialize(decoder))
        }
    }

}
