/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.MpaxArenaRequest
import io.healthplatform.pulsequery.api.models.MpaxArenaResponse

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MpaxArenaApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Run Mpax Arena Mode
     * Executes an MPAX Arena evaluation mode. Modes: judge, translator, constraints, sql_vs_mpax, critic.
     * @param mpaxArenaRequest 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return MpaxArenaResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun runMpaxArenaModeApiV1MpaxArenaRunPost(mpaxArenaRequest: MpaxArenaRequest, token: kotlin.String? = null): HttpResponse<MpaxArenaResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = mpaxArenaRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/mpax_arena/run",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Vote Mpax Arena Candidate
     * Records a winning vote for an LLM candidate in an MPAX Arena run.  Args:     run_id (str): UUID string identifying the MPAX Arena experiment.     candidate_id (str): UUID string identifying the candidate voted for.     current_user (User): Authenticated user session.     db (AsyncSession): Active transactional database session.  Returns:     MpaxArenaResponse: Updated experiment results with is_selected true for winning candidate.  Raises:     HTTPException: 404 if run or candidate not found, 500 on server failure.
     * @param runId 
     * @param candidateId 
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return MpaxArenaResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun voteMpaxArenaCandidateApiV1MpaxArenaRunsRunIdCandidatesCandidateIdVotePost(runId: kotlin.String, candidateId: kotlin.String, token: kotlin.String? = null): HttpResponse<MpaxArenaResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/mpax_arena/runs/{run_id}/candidates/{candidate_id}/vote".replace("{" + "run_id" + "}", "$runId").replace("{" + "candidate_id" + "}", "$candidateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
