/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.TableInfo

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SchemaApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Database Schema
     * Retrieve the current OLAP database schema (Tables and Columns).  This endpoint introspects the active DuckDB connection. It is synchronous to ensure FastAPI executes it in a threadpool, preventing blocking of the main event loop during database I/O.  Args:     current_user: Authenticated user (required for access).  Returns:     List[TableInfo]: A structured list of tables and their column definitions.
     * @return kotlin.collections.List<TableInfo>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDatabaseSchemaApiV1SchemaGet(): HttpResponse<kotlin.collections.List<TableInfo>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.GET,
            "/api/v1/schema/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetDatabaseSchemaApiV1SchemaGetResponse>().map { value }
    }

    @Serializable(GetDatabaseSchemaApiV1SchemaGetResponse.Companion::class)
    private class GetDatabaseSchemaApiV1SchemaGetResponse(val value: List<TableInfo>) {
        companion object : KSerializer<GetDatabaseSchemaApiV1SchemaGetResponse> {
            private val serializer: KSerializer<List<TableInfo>> = serializer<List<TableInfo>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetDatabaseSchemaApiV1SchemaGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetDatabaseSchemaApiV1SchemaGetResponse(serializer.deserialize(decoder))
        }
    }

}
