/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.ReingestResponse
import io.healthplatform.pulsequery.api.models.SystemDiagnosticsResponse
import io.healthplatform.pulsequery.api.models.SystemHealthResponse

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SystemApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Detailed system diagnostics and troubleshooting guides
     * Provides in-depth diagnostics, environment checks, and actionable troubleshooting guides. Requires an authenticated user session.  Args:     current_user (User): The authenticated user making the request.  Returns:     dict[str, Any]: Detailed diagnostic summary with copyable fix commands.
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @return SystemDiagnosticsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemDiagnosticsApiV1SystemDiagnosticsGet(token: kotlin.String? = null): HttpResponse<SystemDiagnosticsResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/system/diagnostics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Check aggregate system health and database readiness
     * Queries live health states for PostgreSQL, DuckDB, data ingestion, and LLM configuration.  Args:     strict (bool): Whether to return HTTP 503 on critical errors.  Returns:     dict[str, Any]: Consolidated system health dictionary.  Raises:     HTTPException: If strict is True and overall_status is critical.
     * @param strict If true, returns HTTP 503 when critical components (PostgreSQL/DuckDB) are failing. (optional, default to false)
     * @return SystemHealthResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemHealthApiV1SystemHealthGet(strict: kotlin.Boolean? = false): HttpResponse<SystemHealthResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        strict?.apply { localVariableQuery["strict"] = listOf("$strict") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/system/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Trigger manual CSV re-ingestion into DuckDB
     * Forces reload of all CSV datasets from the data folder into DuckDB tables. Requires administrative privileges.  Args:     current_user (User): The authenticated administrative user.  Returns:     dict[str, Any]: ReingestResponse with updated table row counts.
     * @param token JWT token query parameter for direct browser downloads (optional)
     * @param acceptLanguage  (optional)
     * @return ReingestResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerReingestApiV1SystemReingestPost(token: kotlin.String? = null, acceptLanguage: kotlin.String? = null): HttpResponse<ReingestResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        token?.apply { localVariableQuery["token"] = listOf("$token") }
        val localVariableHeaders = mutableMapOf<String, String>()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/system/reingest",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
