/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.healthplatform.pulsequery.api.apis

import io.healthplatform.pulsequery.api.models.HTTPValidationError
import io.healthplatform.pulsequery.api.models.TemplateCreate
import io.healthplatform.pulsequery.api.models.TemplateResponse
import io.healthplatform.pulsequery.api.models.TemplateUpdate

import io.healthplatform.pulsequery.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class TemplatesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create Template
     * Register a new analytics template in the system.  Args:     template_in (TemplateCreate): Validated template payload.     db (AsyncSession): Database session.     current_user (User): Authenticated user.  Returns:     WidgetTemplate: The persisted template object.
     * @param templateCreate 
     * @return TemplateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createTemplateApiV1TemplatesPost(templateCreate: TemplateCreate): HttpResponse<TemplateResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = templateCreate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.POST,
            "/api/v1/templates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete Template
     * Hard delete a template from the registry.  Args:     template_id (UUID): The unique ID of the template.     db (AsyncSession): Database session.     current_user (User): Authenticated user.  Raises:     HTTPException: 404 if not found.
     * @param templateId 
     * @return void
     */
    open suspend fun deleteTemplateApiV1TemplatesTemplateIdDelete(templateId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.DELETE,
            "/api/v1/templates/{template_id}".replace("{" + "template_id" + "}", "$templateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Template
     * Retrieve details for a specific template.  Args:     template_id (UUID): The unique ID of the template.     db (AsyncSession): Database session.     current_user (User): Authenticated user.  Returns:     WidgetTemplate: The requested template.  Raises:     HTTPException: 404 if not found.
     * @param templateId 
     * @return TemplateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTemplateApiV1TemplatesTemplateIdGet(templateId: kotlin.String): HttpResponse<TemplateResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.GET,
            "/api/v1/templates/{template_id}".replace("{" + "template_id" + "}", "$templateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Templates
     * Retrieve a list of available widget templates with filtering and pagination.  Args:     db (AsyncSession): Database session dependency.     category (Optional[str]): Filter templates by category name.     search (Optional[str]): Case-insensitive search term for title or description.     limit (int): Maximum number of records to return.     current_user (User): Authenticated user dependency.  Returns:     List[WidgetTemplate]: Filtered list of templates.
     * @param category Filter templates by category (optional)
     * @param search Search title or description (optional)
     * @param limit Max records to return (optional, default to 30)
     * @return kotlin.collections.List<TemplateResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listTemplatesApiV1TemplatesGet(category: kotlin.String? = null, search: kotlin.String? = null, limit: kotlin.Int? = 30): HttpResponse<kotlin.collections.List<TemplateResponse>> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.GET,
            "/api/v1/templates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListTemplatesApiV1TemplatesGetResponse>().map { value }
    }

    @Serializable(ListTemplatesApiV1TemplatesGetResponse.Companion::class)
    private class ListTemplatesApiV1TemplatesGetResponse(val value: List<TemplateResponse>) {
        companion object : KSerializer<ListTemplatesApiV1TemplatesGetResponse> {
            private val serializer: KSerializer<List<TemplateResponse>> = serializer<List<TemplateResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListTemplatesApiV1TemplatesGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListTemplatesApiV1TemplatesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Update Template
     * Update an existing template&#39;s definition.  Args:     template_id (UUID): The unique ID of the template.     template_in (TemplateUpdate): Partial update payload.     db (AsyncSession): Database session.     current_user (User): Authenticated user.  Returns:     WidgetTemplate: The updated template.  Raises:     HTTPException: 404 if not found.
     * @param templateId 
     * @param templateUpdate 
     * @return TemplateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateTemplateApiV1TemplatesTemplateIdPut(templateId: kotlin.String, templateUpdate: TemplateUpdate): HttpResponse<TemplateResponse> {

        val localVariableAuthNames = listOf<String>("OAuth2PasswordBearer")

        val localVariableBody = templateUpdate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlinx.serialization.json.JsonElement?>(
            RequestMethod.PUT,
            "/api/v1/templates/{template_id}".replace("{" + "template_id" + "}", "$templateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
