# IDE and OS files
.idea/
.DS_Store
*.iml
.vscode/

# Build and Kotlin/Gradle
.gradle/
.kotlin/
build/
**/build/
!src/**/build/
local.properties
.externalNativeBuild/
.cxx/
captures/

# Xcode specific
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Web, JS, and Node
node_modules/
kotlin-js-store/
.kotlin-js-store/

# Logs
*.log

# Scripts and Temporary
*.py
*.pyc
__pycache__/
testUrl.kts
