<mat-card>
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate" data-testid="loading-bar"></mat-progress-bar>
  }

  <mat-card-header>
    <mat-card-title i18n>Create Account</mat-card-title>
    <mat-card-subtitle i18n>Join the Hospital Analytics Platform</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @if (errorMessage()) {
      <div class="error-box" role="alert" data-testid="error-alert">
        <mat-icon i18n color="warn">error</mat-icon>
        <span i18n>{{ errorMessage() }}</span>
      </div>
    }

    <form [formRoot]="registerForm" (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label i18n>Email address</mat-label>
        <input
          matInput
          [formField]="registerForm.email"
          type="email"
          i18n-placeholder
          placeholder="user@example.com"
          data-testid="input-email"
        />
        @for (err of registerForm.email().errors(); track err.kind) {
          <mat-error i18n>{{ err.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label i18n>Password</mat-label>
        <input
          matInput
          [formField]="registerForm.password"
          [type]="hidePassword() ? 'password' : 'text'"
          data-testid="input-password"
        />
        <button
          i18n
          mat-icon-button
          i18n-aria-label
          aria-label="action"
          matSuffix
          type="button"
          (click)="togglePasswordVisibility($event)"
          [attr.aria-label]="'Hide password'"
        >
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @for (err of registerForm.password().errors(); track err.kind) {
          <mat-error i18n>{{ err.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label i18n>Confirm Password</mat-label>
        <input
          matInput
          [formField]="registerForm.confirmPassword"
          [type]="hidePassword() ? 'password' : 'text'"
          data-testid="input-confirm-password"
        />
        @for (err of registerForm.confirmPassword().errors(); track err.kind) {
          <mat-error i18n>{{ err.message }}</mat-error>
        }
      </mat-form-field>

      <button
        i18n
        mat-flat-button
        color="primary"
        type="submit"
        class="full-width-btn"
        [disabled]="registerForm().invalid() || isLoading()"
        data-testid="submit-btn"
      >
        @if (isLoading()) {
          Creating Account...
        } @else {
          Register
        }
      </button>
    </form>

    <div class="footer-link">
      <span i18n>Already have an account?</span>
      <a i18n routerLink="/login" data-testid="link-login">Sign in here</a>
    </div>
  </mat-card-content>
</mat-card>
